html {
  scroll-behavior: smooth;
}
body {
  background-color: honeydew;
}
nav {
  display: block;
  font-size: 20px;
  text-align: center;
  transition: 1s;
  color: grey;
}

a {
  text-decoration: none;
  color: black;
  transition: 1s;
  font-weight: 500;
}
#title {
  text-align: center;
  color: navy;
}
#o-mnie {
    margin-top: 20px;
}
.section-header {
  text-align: start;
  font-size: 23px;
  color: blueviolet;
  line-height: 30px;
  font-weight: 500;
}
header img {
  border-radius: 10px 10px 10px 10px;
  border: solid;
  color: blanchedalmond;
}

header img:hover {
  border: 3px solid;
  color: grey;
  transition: 1s;
}

header {
  position: relative;
  overflow: hidden;
}
#background {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url(Zdjęcia/IMG_9459.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  z-index: 10;

  opacity: 0.5;
}
#header-content {
  position: relative;
  z-index: 11;
  padding: 10px;
  text-align: left;

  margin: 50px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  color: beige;
}

.skills span {
  border: 1.5px solid;
  padding: 5px 10px;
  margin: 2px 2px;
  color: black;
  justify-content: center;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  font-size: 12px;
  background-color: ghostwhite;
}

section {
  padding: 10px;
  text-align: start;
}
ul li {
  font-size: medium;
}
